<template>
  <div class="page">
    <!-- Config -->
    <div
      v-if="!isStarting"
      class="px-2 py-2 is-position-relative has-text-centered"
    >
      <!-- Title -->
      <div class="block is-centered">
        <p class="title is-size-5">{{ title }}</p>
      </div>

      <!-- Time -->
      <div
        class="block is-flex is-justify-content-center is-align-items-center"
      >
        <input
          v-model="timeConfig.hour"
          :min="0"
          type="number"
          class="input"
          style="width: 64px; flex: none"
        />

        <div class="mx-2" style="font-size: 32px; font-weight: bold">:</div>

        <input
          v-model="timeConfig.min"
          :step="5"
          :min="0"
          :max="55"
          type="number"
          class="input"
          style="width: 64px; flex: none"
        />
      </div>

      <!-- Goal -->
      <div class="block">
        <input
          v-model="task"
          class="input is-small"
          type="text"
          placeholder="Goal"
        />
      </div>

      <!-- Controls -->
      <div class="block">
        <button class="button is-primary is-fullwidth" @click="start">
          Start
        </button>

        <button class="button is-small mt-2" @click="openSettings">
          Settings
        </button>
      </div>

      <!-- Settings -->
      <div class="modal" :class="{ 'is-active': settingDialog }">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Settings</p>
          </header>
          <section class="modal-card-body">
            <label class="checkbox">
              <input v-model="settings.startUpWithSystem" type="checkbox" />
              Start up with system
            </label>
          </section>
          <footer class="modal-card-foot is-justify-content-flex-end">
            <button class="button" @click="settingDialog = false">
              Cancel
            </button>
            <button class="button is-success" @click="saveSettings">
              Save
            </button>
          </footer>
        </div>
      </div>
    </div>

    <!-- Running -->
    <section v-else class="section has-text-centered">
      <div class="block">
        <div class="columns is-centered">
          <div class="column">
            <p class="title" style="font-size: 64px">{{ timer }}</p>
            <p class="subtitle">{{ task }}</p>
            <p class="subtitle is-size-6">{{ subtitle }}</p>
          </div>
        </div>
      </div>

      <div class="block">
        <button class="button is-fullwidth" @click="done">Done</button>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

import { randomItem } from "@/utils/random";

import motivationalQuotes from "@/data/motivationalQuotes";
import compliments from "@/data/compliments";

export default Vue.extend({
  data() {
    return {
      // Text
      title: "",
      subtitle: "",
      task: "",

      // Time
      timeInterval: Number.NaN,
      timerValue: 0,
      timeConfig: {
        hour: 0,
        min: 25,
      },

      // Motivation
      motivationInterval: Number.NaN,
      motivationalQuotes,

      // Compliments
      compliments,

      // Settings
      settingDialog: false,
      settings: {
        startUpWithSystem: false,
      },
    };
  },

  computed: {
    isStarting(): boolean {
      return !Number.isNaN(this.timeInterval);
    },

    timer(): string {
      if (!this.isStarting) return "";

      const hour = Math.floor(this.timerValue / 3600);
      const min = Math.floor((this.timerValue - hour * 3600) / 60);
      const sec = this.timerValue - hour * 3600 - min * 60;

      const hourText = (hour < 10 ? "0" : "") + hour;
      const minText = (min < 10 ? "0" : "") + min;
      const secText = (sec < 10 ? "0" : "") + sec;

      return `${hourText}:${minText}:${secText}`;
    },

    // Settings
    settingStorageKey() {
      return "$__MY_TIMER__settings";
    },
  },

  created() {
    this.init();
  },

  methods: {
    init() {
      this.greetingUser();
    },

    greetingUser() {
      this.title = "Have a Great Day, Mr. Duc! 😎";
    },

    start() {
      this.setTimeValue();

      this.startTimeInterval(this.update.bind(this));

      this.startMotivationInterval();
    },

    update() {
      this.timerValue -= 1;

      if (this.timerValue <= 0) this.done();
    },

    done() {
      this.focusWindow();

      this.stopTimeInterval();
      this.stopMotivationInterval();

      this.resetData();

      this.congrateUser();
    },

    // Time
    setTimeValue() {
      this.timerValue =
        Number(this.timeConfig.hour) * 3600 + Number(this.timeConfig.min) * 60;
    },

    startTimeInterval(callback: () => void, timeout = 1000) {
      this.timeInterval = window.setInterval(() => {
        callback();
      }, timeout);
    },

    stopTimeInterval() {
      if (Number.isNaN(this.timeInterval)) return;

      window.clearInterval(this.timeInterval);
      this.timeInterval = Number.NaN;
    },

    focusWindow() {
      if (window.ipcRenderer) window.ipcRenderer.send("window-focus");
    },

    resetData() {
      this.timerValue = 0;
      this.subtitle = "";
    },

    congrateUser() {
      const compliment = randomItem(
        randomItem(Object.values(this.compliments))
      );

      const emoji = randomItem([
        "😎",
        "🥳",
        "😁",
        "😊",
        "😍",
        "🥰",
        "😘",
        "🤓",
        "🤩",
        "🤗",
        "👌",
        "👍",
        "❤️❤️❤️",
        "🎉🎉🎉",
        "🎊🎊🎊",
      ]);

      this.title = `${compliment}!!! ${emoji}`;
    },

    // Motivation
    startMotivationInterval() {
      const timeout = 5 * 60 * 1000; // 5 min

      this.subtitle = randomItem(this.motivationalQuotes);
      this.motivationInterval = window.setInterval(() => {
        this.subtitle = randomItem(this.motivationalQuotes);
      }, timeout);
    },

    stopMotivationInterval() {
      if (Number.isNaN(this.motivationInterval)) return;

      window.clearInterval(this.motivationInterval);
      this.motivationInterval = Number.NaN;
    },

    // Settings
    openSettings() {
      this.loadSettings();
      this.settingDialog = true;
    },

    loadSettings() {
      const settingsData = localStorage.getItem(this.settingStorageKey);

      if (!settingsData) return;

      this.settings = JSON.parse(settingsData);
    },

    saveSettings() {
      this.storeSettings();

      this.applySettings();

      this.settingDialog = false;
    },

    storeSettings() {
      localStorage.setItem(
        this.settingStorageKey,
        JSON.stringify(this.settings)
      );
    },

    applySettings() {
      if (!window.ipcRenderer) return;

      window.ipcRenderer.send("settings", this.settings);
    },
  },
});
</script>

<style scoped lang="scss"></style>
